.brand {
  width: 100%;
  height: 225px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border: 1px solid #e0e0e2;
  border-radius: 16px;
}

.brand .brand__item {
  width: 100%;
  height: inherit;
}
.brand .brand__item .brand__top{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.brand .brand__item .brand__top h3{
font-family: IRAN;
font-size: 20px;
font-weight: 500;
}
.brand .brand__item .brand__top div{
    display: flex;
    margin-left: 8px;
}
.brand .brand__item .brand__bottom {
  background-color: #e0e0e2;
  width: inherit;
  margin-top: 40px;
}
.brand .brand__item .brand__bottom img{
    width: 110px;
    height: 110px;
}
