.fantasticsuper1{
    width: 100%;
    height: 110px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 20px;
  }
  .fantasticsuper1 .maghaze {
    height: inherit;
    background: linear-gradient(
      90deg,
      rgba(130, 224, 129, 1) 0%,
      rgba(14, 163, 11, 1) 61%
    );
    width: 98%;
    border-radius: 20px;
    display: flex;
    align-items: center;
  }
  .fantasticsuper1 .maghaze div {
    width: 10%;
    height: inherit;
    border-radius: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .fantasticsuper1 .maghaze div img {
    width: 66px;
    height: 62px;
    object-fit: contain;
  }
  .fantasticsuper1 .maghaze .fantasticsuper__two {
    width: 20%;
    height: inherit;
    margin-right: 20px;
  }
  .fantasticsuper1 .maghaze .fantasticsuper__two span {
    margin-left: 50px;
  }
  .fantasticsuper1 .maghaze .fantasticsuper__three {
    width: 10%;
    height: 30px;
    background-color: #39ae00;
    font-family: BNAZANIN;
    color: whitesmoke;
  }
  .fantasticsuper1 .maghaze .fantasticsuper__three p {
    font-size: 20px;
    font-weight: bold;
  }
  .fantasticsuper1 .maghaze .fantasticsuper__four {
    width: 40%;
    height: inherit;
    display: flex;
    flex-flow: row wrap;
    column-gap: 5px;
    margin-right: 30px;
  }
  .fantasticsuper1 .maghaze .fantasticsuper__four .fantasticsuper__four_first {
    background-color: #fff;
    width: 73px;
    height: 73px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    border-radius: 50px;
    overflow: hidden;
  }
  .fantasticsuper1 .maghaze .fantasticsuper__four img {
    width: 58;
    height: 58;
    object-fit: contain;
    
  }
  .fantasticsuper1 .maghaze .fantasticsuper__five {
    background-color: #ffffff;
    height: 50px;
    width: 15%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  .fantasticsuper1 .maghaze .fantasticsuper__five p {
    color: #39ae00;
    font-family: IRAN;
    display: flex;
    align-items: center;
  }
  .fantasticsuper1 .maghaze .fantasticsuper__five p svg {
    padding-right: 7px;
    font-size: 20px;
  }
  